.recommend-box {
  padding: 40px 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 370px;
  .title-and-line {
    .re-title {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      color: $nav-active;
      font-weight: bold;
      align-items: flex-end;
      span {
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        color: $icon-color;
      }
    }
    .re-line {
      width: 100%;
      height: 1px;
      background-color: $line-color;
      margin-top: 20px;
    }
  }
  .re-list {
    flex: 1;
    overflow: auto;
    ul {
      li {
        margin-top: 30px;
        text-align: left;
        padding-left: 2px;
        p {
          font-size: 16px;
          color: $text-color;
          line-height: 24px;
        }
      }
    }
  }
  .re-list::-webkit-scrollbar {
    display: none;
  }
}
