.video-detail {
  padding-bottom: 120px;
  width: 100%;
  .loading-box-mine{
    min-height: 800px;
  }
  .video-source-box {
    width: 100%;
    height: 600px;
    background-color: $white-text;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 140px;
    .react-player {
      width: 1090px!important;
      height: 100%!important;
      transform: translateY(80px);
    }
    .play-btn {
      margin-top: 50px;
    }
  }
  .video-detail-inner {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    .video-msg {
      flex: 1;
      text-align: left;
    }
    .par-box {
      width: 370px;
      margin-left: 30px;
      padding: 40px;
      .par-title {
        padding-left: 20px;
        text-align: left;
        margin-bottom: 20px;
      }
      .par-people {
        padding: 40px 20px;
        ul {
          li {
            display: flex;
            align-items: center;
            .people-av {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              overflow: hidden;
              border: 1px solid $line-color;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 100%;
              }
            }
            .img-name {
              text-align: left;
              padding-left: 20px;
              p:first-child {
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: bold;
                color: $nav-active;
              }
              p:last-child {
                font-size: 14px;
                color: $text-color;
                .iconfont {
                  font-size: 16px;
                  margin-right: 4px;
                }
              }
            }
          }
          li:first-child {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
